# ── Proyecto ─────────────────────────────────────────────────────────────────
PROJECT_NAME="ClimaSafeAI"
ML_TYPE="supervisado"

# ── APIs externas ─────────────────────────────────────────────────────────────
ERAS_API_KEY=
AEMET_API_KEY=
#Open-Meteo_API_KEY
OpenUV_API_KEY=
# MoMo_API_KEY=
# CMBD_API_KEY=
# ── MLflow / experimentos (opcional) ─────────────────────────────────────────

# MLflow tracking (local por defecto, cambiar a servidor remoto si aplica)
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=climasafeai
